<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.radio13.music" version="1.2.4.6">
  <name>Radio13</name>
  <description>На Радио13 мы объединили лучшие вкусы, которые формировались в 1990-е и 2000-е годы. Radio13 - это станция, где звучат только хиты. Мы предоставляем лучший микс из зарубежных и Российских исполнителей музыки. Приглашаем в нашу компанию всех, для кого жизнь прекрасна и удивительна!</description>
  <author href="http://vk.com/bugsmafia" email="bugsmafia@gmail.com">Отдел разработки</author>
  <content src="a.html"/>
// preference name="permissions" value="none"/>
// preference name='phonegap-version' value='cli-5.2.0' />
// preference name="orientation" value="default"/>
// preference name="target-device" value="universal"/>
// preference name="fullscreen" value="false"/>
// preference name="webviewbounce" value="true"/>
// preference name="prerendered-icon" value="true"/>
// preference name="stay-in-webview" value="false"/>
// preference name="ios-statusbarstyle" value="black-opaque"/>
// preference name="detect-data-types" value="true"/>
// preference name="exit-on-suspend" value="false"/>
// preference name="show-splash-screen-spinner" value="true"/> 
// preference name="auto-hide-splash-screen" value="true"/>
// preference name="disable-cursor" value="false"/>
// preference name="android-minSdkVersion" value="7"/>
// preference name="android-installLocation" value="auto"/>
// gap:plugin name="org.apache.cordova.device"/>
// gap:plugin name="org.apache.cordova.device-motion"/>
// gap:plugin name="org.apache.cordova.dialogs"/>
// gap:plugin name="org.apache.cordova.media"/>
// gap:plugin name="org.apache.cordova.network-information"/>
// gap:plugin name="org.apache.cordova.splashscreen"/>
  
  

// preference name="SplashScreenDelay" value="10000"/> // Заставка
// preference name="LoadingDialog" value="My Title,My Message"/> // Некий заголовок
// preference name="ShowTitle" value="true"/> // Заголовок в шапке
// preference name="LogLevel" value="VERBOSE"/> // Лог ошибок
  
  


</widget>